USE [master]
GO
/****** Object:  Database [This_Project]    Script Date: 12/23/2019 10:29:24 PM ******/
CREATE DATABASE [This_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'This_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\This_Project.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'This_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\This_Project_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [This_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [This_Project]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 12/23/2019 10:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[AuthorName] [nvarchar](50) NOT NULL,
	[Isbn] [nvarchar](50) NOT NULL,
	[Quaintity] [int] NOT NULL,
	[PurchaseDate] [date] NOT NULL,
	[CategoryId] [int] NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookDetails]    Script Date: 12/23/2019 10:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DaskNo] [int] NOT NULL,
 CONSTRAINT [PK_BookDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BorrowHistory]    Script Date: 12/23/2019 10:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowHistory](
	[Id] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[BookDetailsId] [int] NOT NULL,
	[BorrowDate] [date] NOT NULL,
	[ExpectedReturnDate] [date] NOT NULL,
	[ReturnDate] [date] NULL,
	[LateFine] [float] NULL,
	[LostFine] [float] NULL,
 CONSTRAINT [PK_BorrowHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/23/2019 10:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 12/23/2019 10:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Name], [AuthorName], [Isbn], [Quaintity], [PurchaseDate], [CategoryId], [Price]) VALUES (1, N'Himu rimand a', N'Humayan Ahmad', N'2656566', 50, CAST(0x7C400B00 AS Date), 1, 5550.5)
INSERT [dbo].[Book] ([Id], [Name], [AuthorName], [Isbn], [Quaintity], [PurchaseDate], [CategoryId], [Price]) VALUES (2, N'Hajabarala', N'Sukumar Roy', N'12354645', 30, CAST(0x84400B00 AS Date), 2, 2000)
INSERT [dbo].[Book] ([Id], [Name], [AuthorName], [Isbn], [Quaintity], [PurchaseDate], [CategoryId], [Price]) VALUES (3, N'Hajabarala2', N'Sukumar Roy', N'1235445', 30, CAST(0x84400B00 AS Date), 2, 2000)
SET IDENTITY_INSERT [dbo].[Book] OFF
SET IDENTITY_INSERT [dbo].[BookDetails] ON 

INSERT [dbo].[BookDetails] ([Id], [BookId], [Status], [DaskNo]) VALUES (1, 1, N'1', 2)
INSERT [dbo].[BookDetails] ([Id], [BookId], [Status], [DaskNo]) VALUES (2, 1, N'1', 2)
INSERT [dbo].[BookDetails] ([Id], [BookId], [Status], [DaskNo]) VALUES (3, 5, N'1', 1)
SET IDENTITY_INSERT [dbo].[BookDetails] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'History')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Story')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Literature')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([Id], [Name], [UserName], [Password], [Type]) VALUES (1, N'Sijan Ahosan', N'18-37099-1', N'123456', 2)
INSERT [dbo].[UserInfo] ([Id], [Name], [UserName], [Password], [Type]) VALUES (2, N'Sijan Ahosan', N'1111', N'123456', 3)
INSERT [dbo].[UserInfo] ([Id], [Name], [UserName], [Password], [Type]) VALUES (5, N'Sijan Ahosan', N'2222', N'123456', 1)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[BookDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookDetails_BookDetails] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[BookDetails] CHECK CONSTRAINT [FK_BookDetails_BookDetails]
GO
ALTER TABLE [dbo].[BorrowHistory]  WITH CHECK ADD  CONSTRAINT [FK_BorrowHistory_BookDetails] FOREIGN KEY([BookDetailsId])
REFERENCES [dbo].[BookDetails] ([Id])
GO
ALTER TABLE [dbo].[BorrowHistory] CHECK CONSTRAINT [FK_BorrowHistory_BookDetails]
GO
USE [master]
GO
